/* Variables */
/**------------
 * GRID DEFINITION
 ------------*/
/* Screen size breakpoints for media queries */
/**------------
 * COLORS
 ------------*/
/**------------
 * FONTS
 ------------*/
/**------------
 * HEADER
 ------------*/
/**------------
 * Main Game
 ------------*/
/* Game cotainer */
/* theme files */
/**************** MAIN INDEX ****************/
/* line 2, scss/_04-index.scss */
body {
  background-color: #020304;
}

/* line 5, scss/_04-index.scss */
main {
  color: #fff;
  /* margin-top: 110px; */
}
/* line 8, scss/_04-index.scss */
main .game {
  margin: auto;
  width: 800px;
  height: 600px;
  border: solid  white 1px;
  margin-bottom: 70px;
}
/* line 16, scss/_04-index.scss */
main #glauncher .window {
  position: relative;
  overflow: hidden;
  height: 600px;
  background-color: white;
}
/* line 21, scss/_04-index.scss */
main #glauncher .window .scroller {
  position: absolute;
  width: 800px;
}
/* line 24, scss/_04-index.scss */
main #glauncher .window .scroller .content {
  z-index: 200;
  padding: 50px;
  position: relative;
  text-align: center;
  color: black;
}
/* line 30, scss/_04-index.scss */
main #glauncher .window .scroller .content h3 {
  font-size: 1.6em;
  margin: 30px 0 80px;
}
/* line 34, scss/_04-index.scss */
main #glauncher .window .scroller .content p {
  text-align: left;
  text-indent: 30px;
  line-height: 1.5em;
  margin-top: 10px;
}
/* line 40, scss/_04-index.scss */
main #glauncher .window .scroller .content ul {
  text-align: left;
  margin: 10px 0 50px 50px;
  line-height: 1.5em;
}
/* line 45, scss/_04-index.scss */
main #glauncher .window .scroller .content a {
  box-sizing: border-box;
  background-color: white;
  color: black;
  margin: 70px 0;
  font-size: 2em;
  line-height: 3em;
  padding: 7px 20px;
  border: 3px solid black;
  border-radius: 10% / 50%;
  transition: .3s ease;
}
/* line 56, scss/_04-index.scss */
main #glauncher .window .scroller .content a:hover {
  background-color: black;
  color: white;
  transition: .3s ease;
}
/* line 67, scss/_04-index.scss */
main #game_container {
  display: none;
}
