/* Reset css*/
/* line 5, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Variables */
/**------------
 * GRID DEFINITION
 ------------*/
/* Screen size breakpoints for media queries */
/**------------
 * COLORS
 ------------*/
/**------------
 * FONTS
 ------------*/
/**------------
 * HEADER
 ------------*/
/**------------
 * Main Game
 ------------*/
/* Game cotainer */
/* Required mixins before variable declarations // GRID */
/**
 * Required mixins before variable declarations
 */
/* theme files */
/************ STYLE GENERAL *************/
/* line 3, scss/_03-custom.scss */
body {
  background-color: #020304;
}

/* line 7, scss/_03-custom.scss */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 15, scss/_03-custom.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 20, scss/_03-custom.scss */
main {
  margin-top: 110px;
}

/* line 23, scss/_03-custom.scss */
h1, h2, h3, a, p, li {
  font-family: sans-serif;
}

/* line 26, scss/_03-custom.scss */
h1, h2, h3 {
  text-transform: uppercase;
}

/* line 29, scss/_03-custom.scss */
p, li {
  font-style: Helvetica, Arial, sans-serif;
}

/**************** HEADER ****************/
/* line 35, scss/_03-custom.scss */
header {
  background: #fff;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  z-index: 1000;
}
/* line 43, scss/_03-custom.scss */
header .head {
  height: 80px;
  box-sizing: border-box;
  border-bottom: solid black 1px;
}
/* line 47, scss/_03-custom.scss */
header .head h1 {
  position: relative;
  float: left;
  top: 30px;
  padding-left: 40px;
  z-index: 1006;
}
/* line 53, scss/_03-custom.scss */
header .head h1 a {
  font-size: 20px;
  font-weight: 900;
  font-family: sans-serif;
  text-transform: uppercase;
  display: block;
}
/* line 61, scss/_03-custom.scss */
header .head .burger {
  position: relative;
  float: right;
  margin-top: 2px;
  right: 40px;
  z-index: 1005;
  cursor: pointer;
  display: block;
  padding: 20px;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}
/* line 71, scss/_03-custom.scss */
header .head .burger span {
  display: block;
  width: 40px;
  height: 2px;
  margin: 7px 0;
  background: #020304;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}
/* line 80, scss/_03-custom.scss */
header .head .burger:hover span {
  margin: 10px 0;
}
/* line 83, scss/_03-custom.scss */
header .head .burger:hover:not(.open) {
  margin-top: -4px !important;
}
/* line 89, scss/_03-custom.scss */
header .head .open {
  margin-top: 18px;
}
/* line 92, scss/_03-custom.scss */
header .head .open span:nth-child(1) {
  transform: rotate(45deg);
  margin: 0;
}
/* line 96, scss/_03-custom.scss */
header .head .open span:nth-child(2) {
  transform: translateX(15px);
  opacity: 0;
}
/* line 100, scss/_03-custom.scss */
header .head .open span:nth-child(3) {
  transform: rotate(-45deg);
  margin: -18px 0;
}
/* line 106, scss/_03-custom.scss */
header .head .open:hover {
  transform: scale(1);
}
/* line 109, scss/_03-custom.scss */
header .head .open:hover span:nth-child(3) {
  margin: -30px 0;
}
/* line 116, scss/_03-custom.scss */
header nav {
  background: white;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1003;
  transition: .5s;
  transition-delay: .5s;
  overflow: hidden;
  visibility: hidden;
}
/* line 128, scss/_03-custom.scss */
header nav ul {
  width: 100%;
  text-align: center;
}
/* line 131, scss/_03-custom.scss */
header nav ul li {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: .5s;
  transition-delay: 0s;
  box-sizing: border-box;
}
/* line 138, scss/_03-custom.scss */
header nav ul li a {
  width: 100%;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  line-height: 30vh;
  font-size: 2em;
}
/* line 148, scss/_03-custom.scss */
header nav ul li:not(:last-child) {
  border-bottom: solid black 1px;
}
/* line 151, scss/_03-custom.scss */
header nav ul li:nth-child(2) {
  top: 30vh;
}
/* line 154, scss/_03-custom.scss */
header nav ul li:nth-child(3) {
  top: 60vh;
}
/* line 160, scss/_03-custom.scss */
header nav.open-nav {
  visibility: visible;
  height: 100%;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}
/* line 165, scss/_03-custom.scss */
header nav.open-nav ul li {
  opacity: 1;
  transition: 0.8s cubic-bezier(0.8, 0.165, 0.82, 0.075) all;
}

/**************** MAIN INDEX ****************/
/* line 175, scss/_03-custom.scss */
main {
  color: #fff;
  /* margin-top: 110px; */
}
/* line 178, scss/_03-custom.scss */
main h2 {
  text-align: center;
  font-size: 2em;
  margin: 30px 0 80px;
}
/* line 183, scss/_03-custom.scss */
main .game {
  margin: auto;
  width: 800px;
  height: 600px;
  border: solid  white 1px;
  margin-bottom: 70px;
}
/* line 191, scss/_03-custom.scss */
main #glauncher .window {
  position: relative;
  overflow: hidden;
  height: 600px;
  background-color: white;
}
/* line 196, scss/_03-custom.scss */
main #glauncher .window .scroller {
  position: absolute;
  width: 800px;
}
/* line 199, scss/_03-custom.scss */
main #glauncher .window .scroller .content {
  z-index: 200;
  padding: 50px;
  position: relative;
  text-align: center;
  color: black;
}
/* line 205, scss/_03-custom.scss */
main #glauncher .window .scroller .content h3 {
  font-size: 1.6em;
  margin: 30px 0 80px;
}
/* line 209, scss/_03-custom.scss */
main #glauncher .window .scroller .content p {
  text-align: left;
  text-indent: 30px;
  line-height: 1.5em;
  margin-top: 10px;
}
/* line 215, scss/_03-custom.scss */
main #glauncher .window .scroller .content ul {
  text-align: left;
  margin: 10px 0 50px 50px;
  line-height: 1.5em;
}
/* line 220, scss/_03-custom.scss */
main #glauncher .window .scroller .content a {
  box-sizing: border-box;
  background-color: white;
  color: black;
  margin: 70px 0;
  font-size: 2em;
  line-height: 3em;
  padding: 7px 20px;
  border: 3px solid black;
  border-radius: 10% / 50%;
  transition: .3s ease;
}
/* line 231, scss/_03-custom.scss */
main #glauncher .window .scroller .content a:hover {
  background-color: black;
  color: white;
  transition: .3s ease;
}
/* line 242, scss/_03-custom.scss */
main #game_container {
  display: none;
}

/**
* Mediaqueries
*/
/**************** MAIN ANIME ****************/
/* line 3, scss/_04-anime.scss */
.anime {
  width: 100%;
  height: 100vh;
  margin-top: 0;
  position: relative;
}
/* line 8, scss/_04-anime.scss */
.anime h2 {
  position: relative;
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding-top: 140px;
  z-index: 500;
  color: #020304;
}
/* line 17, scss/_04-anime.scss */
.anime .conteneur {
  position: fixed;
  z-index: 400;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}
/* line 26, scss/_04-anime.scss */
.anime .conteneur a {
  display: block;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  top: 0;
  float: right;
  line-height: 100vh;
  padding-left: 15%;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 900;
}
/* line 40, scss/_04-anime.scss */
.anime .conteneur .to_be_hero {
  background: url(../img/to-be-hero-anime.jpg) no-repeat center center;
  background-size: cover;
}
/* line 44, scss/_04-anime.scss */
.anime .conteneur .kings_avatar {
  left: 50%;
  background: url(../img/kings-avatar.jpg) no-repeat center center;
  background-size: cover;
}

/* TV PAGE DES ANIMES */
/* line 57, scss/_04-anime.scss */
.tv {
  position: relative;
  width: 700px;
  height: 400px;
  margin: 100px auto 0 auto;
  border-radius: 10px;
  background: #857969;
  background: -moz-linear-gradient(top, #857969 0%, #47351d 3%, #241b14 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #857969), color-stop(3%, #47351d), color-stop(100%, #241b14));
  background: -webkit-linear-gradient(top, #857969 0%, #47351d 3%, #241b14 100%);
  background: -o-linear-gradient(top, #857969 0%, #47351d 3%, #241b14 100%);
  background: -ms-linear-gradient(top, #857969 0%, #47351d 3%, #241b14 100%);
  background: linear-gradient(to bottom, #857969 0%, #47351d 3%, #241b14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#857969", endColorstr="#241b14", GradientType=0 );
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.75);
}

/* line 111, scss/_04-anime.scss */
.outerRing {
  position: absolute;
  width: 680px;
  height: 380px;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  background-color: #bba180;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
}

/* line 124, scss/_04-anime.scss */
.middleRing {
  position: absolute;
  width: 500px;
  height: 360px;
  top: 10px;
  left: 10px;
  border-radius: 3px;
  background: #3d342d;
  background: -moz-radial-gradient(center, ellipse cover, #3d342d 0%, #3d342d 72%, #1a1511 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3d342d), color-stop(72%, #3d342d), color-stop(100%, #1a1511));
  background: -webkit-radial-gradient(center, ellipse cover, #3d342d 0%, #3d342d 72%, #1a1511 100%);
  background: -o-radial-gradient(center, ellipse cover, #3d342d 0%, #3d342d 72%, #1a1511 100%);
  background: -ms-radial-gradient(center, ellipse cover, #3d342d 0%, #3d342d 72%, #1a1511 100%);
  background: radial-gradient(ellipse at center, #3d342d 0%, #3d342d 72%, #1a1511 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3d342d", endColorstr="#1a1511", GradientType=1 );
  -webkit-box-shadow: inset 0px 0px 32px 0px rgba(0, 0, 0, 0.75), 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 32px 0px rgba(0, 0, 0, 0.75), 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 32px 0px rgba(0, 0, 0, 0.75), 0px 0px 16px -1px rgba(0, 0, 0, 0.75);
}

/* line 189, scss/_04-anime.scss */
.screen {
  position: absolute;
  z-index: 2;
  width: 440px;
  height: 320px;
  top: 20px;
  left: 30px;
  background: #4a5453;
  z-index: 2;
  border-radius: 50% / 20%;
  border: 10px solid #1a1a1a;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 10px 6px rgba(0, 0, 0, 0.9), 0px 0px 16px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 125px 20px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 10px 6px rgba(0, 0, 0, 0.9), 0px 0px 16px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 125px 20px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 10px 6px rgba(0, 0, 0, 0.9), 0px 0px 16px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 125px 20px rgba(255, 255, 255, 0.5);
}

/* line 212, scss/_04-anime.scss */
.movie {
  position: absolute;
  top: -10px;
  left: -165px;
  width: 750px;
  height: 320px;
  opacity: 0.7;
}

/* line 221, scss/_04-anime.scss */
.sidePanel {
  position: absolute;
  width: 150px;
  height: 360px;
  top: 20px;
  right: 20px;
  border: 4px solid #26211d;
  border-radius: 3px;
  background-image: repeating-linear-gradient(to bottom, #bba180, #bba180 2%, #26211d 2%, #26211d 4%);
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75), inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75), inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75), inset 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}

/* line 244, scss/_04-anime.scss */
.channelBox {
  position: absolute;
  width: 142px;
  height: 90px;
  top: 2%;
  background-color: #1a130d;
  -webkit-box-shadow: inset 0px 0px 60px 0px #372d23;
  -moz-box-shadow: inset 0px 0px 60px 0px #372d23;
  box-shadow: inset 0px 0px 60px 0px #372d23;
}

/* line 255, scss/_04-anime.scss */
.channelScreen {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 15px;
  background-color: #24130c;
  color: #fdf8d8;
  border-radius: 3px;
  font-family: "Kelly Slab", cursive;
  font-size: 24px;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000;
}

/* line 274, scss/_04-anime.scss */
.power {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 23px;
  right: 15px;
  cursor: pointer;
  background: #dbdbdb;
  background: -moz-radial-gradient(center, ellipse cover, #dbdbdb 0%, #f7f7f7 0%, #919191 42%, #ebebeb 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #dbdbdb), color-stop(0%, #f7f7f7), color-stop(42%, #919191), color-stop(100%, #ebebeb));
  background: -webkit-radial-gradient(center, ellipse cover, #dbdbdb 0%, #f7f7f7 0%, #919191 42%, #ebebeb 100%);
  background: -o-radial-gradient(center, ellipse cover, #dbdbdb 0%, #f7f7f7 0%, #919191 42%, #ebebeb 100%);
  background: -ms-radial-gradient(center, ellipse cover, #dbdbdb 0%, #f7f7f7 0%, #919191 42%, #ebebeb 100%);
  background: radial-gradient(ellipse at center, #dbdbdb 0%, #f7f7f7 0%, #919191 42%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#dbdbdb", endColorstr="#ebebeb", GradientType=1 );
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
}

/* line 343, scss/_04-anime.scss */
.powerOn {
  width: 16px;
  height: 16px;
  -webkit-box-shadow: 0px 3px 15px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 15px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 15px 4px rgba(0, 0, 0, 0.75);
}

/* line 351, scss/_04-anime.scss */
.powerText {
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 8px;
  color: #bba180;
  font-family: "Montserrat", sans-serif;
}

/* line 360, scss/_04-anime.scss */
.channelText {
  position: absolute;
  top: 49px;
  right: 50px;
  font-size: 8px;
  color: #bba180;
  font-family: "Montserrat", sans-serif;
}

/* line 369, scss/_04-anime.scss */
.channelSelect {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 16px;
  right: 45px;
  font-size: 14px;
}

/* line 381, scss/_04-anime.scss */
.buttons {
  padding: 2px;
  margin: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #bba180;
  background-color: #241a0e;
  -webkit-box-shadow: inset 0px -3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -3px 3px 0px rgba(0, 0, 0, 0.75);
}

/* line 394, scss/_04-anime.scss */
.buttons:active {
  transform: translate(0px, 3px);
  box-shadow: none;
}

/* line 399, scss/_04-anime.scss */
.buttons:focus {
  outline: none;
}

/* line 403, scss/_04-anime.scss */
.channelList {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  left: -2px;
  text-align: left;
  font-size: 11.5px;
  background-color: #0949cf;
  color: #f0f6f6;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* line 418, scss/_04-anime.scss */
.channelList h4 {
  margin-top: 30px;
  position: relative;
  left: 145px;
  padding-bottom: 4px;
  font-weight: 700;
}

/* line 426, scss/_04-anime.scss */
.time {
  position: absolute;
  top: 43px;
  right: 425px;
}

/* line 432, scss/_04-anime.scss */
.channelLine {
  display: flex;
  width: 100%;
  margin-top: 5px;
}

/* line 438, scss/_04-anime.scss */
.channelNumber {
  border-top: 1px solid #0949cf;
  border-bottom: 1px solid #0949cf;
  margin: 0;
  width: 120px;
  background-color: #000c65;
  padding: 0 5px;
  overflow: hidden;
}

/* line 448, scss/_04-anime.scss */
.description {
  position: relative;
  left: 0;
  background-color: #0949cf;
  padding-left: 10px;
  border: 1px solid #000c65;
  width: 350px;
}

/* line 457, scss/_04-anime.scss */
.channels {
  position: absolute;
  top: 25px;
  left: 35px;
  font-size: 30px;
  font-family: "Kelly Slab", cursive;
  background-color: rgba(92, 92, 92, 0);
  z-index: 5;
  opacity: 0;
  color: #efef44;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  animation: channel 2.5s 1;
}

/* line 472, scss/_04-anime.scss */
.startImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #0949cf;
  animation: fadeIn 5s 1;
}

/* line 483, scss/_04-anime.scss */
.turnOff {
  animation: turnOff 0.3s 1;
}

/* line 487, scss/_04-anime.scss */
.base {
  position: absolute;
  width: 500px;
  height: 20px;
  left: 100px;
  bottom: -20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #241b14;
  background: -moz-linear-gradient(top, #241b14 0%, #090502 68%, #857969 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #241b14), color-stop(68%, #090502), color-stop(100%, #857969));
  background: -webkit-linear-gradient(top, #241b14 0%, #090502 68%, #857969 100%);
  background: -o-linear-gradient(top, #241b14 0%, #090502 68%, #857969 100%);
  background: -ms-linear-gradient(top, #241b14 0%, #090502 68%, #857969 100%);
  background: linear-gradient(to bottom, #241b14 0%, #090502 68%, #857969 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#241b14", endColorstr="#857969", GradientType=0 );
}

@keyframes channel {
  0% {
    opacity: 0.6;
  }
  99% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
@keyframes turnOff {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
/* line 643, scss/_04-anime.scss */
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

/* line 657, scss/_04-anime.scss */
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

/* line 677, scss/_04-anime.scss */
.crtOff::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

/* line 697, scss/_04-anime.scss */
crtOff::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

@media screen and (max-width: 700px) {
  /* line 712, scss/_04-anime.scss */
  .containbox {
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
