/**
 * Required mixins before variable declarations
 */

@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: /* url('../fonts/'+ $font-filename +'.woff') format('woff'),
      url('../fonts/'+ $font-filename +'.ttf') format('truetype'), */
      url('../fonts/'+ $font-filename +'.otf') format('opentype');
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}

