/**------------
 * GRID DEFINITION
 ------------*/
$wrapper-width:                100%;   // wrapper width (no)
$xl-container-width:           1440px; 
$l-container-width:            1140px; 
$gutter-width:                 0;   

$maximum-columns:              12;     // max number of columns (no)

/* Screen size breakpoints for media queries */
$l-screen:                     1440px; // max-width for l screens (no)
$m-screen:                     840px;  // max-width for m screens (no)
$m-screen-landscape:           1024px; // max-width for m screens landscape (no)
$s-screen:                     640px;  // max-width for s screens (no)


/**------------
 * COLORS
 ------------*/
$base-color:                   #fff;
$blackColor: 				   #020304;

//fonts color
$primary-color:                #000;
$secondary-color:              #6ed5b6;
$tertiary-color:               #fbf631;
$btn-nav-color:                $primary-color;


/**------------
 * FONTS
 ------------*/

$base-font-family:             Helvetica, Arial, sans-serif; 
$headings-font-family:         Helvetica, Arial, sans-serif; 
$nav-font-family:              Helvetica, Arial, sans-serif; 

$base-font-size:               16px; // no

/**------------
 * HEADER
 ------------*/
$full-height:				   100%;
$li-height: 				   30%;
$header-height:				   80px;


/**------------
 * Main Game
 ------------*/

/* Game cotainer */
$game-width:				   800px;
$game-height:				   600px;