/************ STYLE GENERAL *************/

body{
  background-color: $blackColor;
}

.clearfix:after{
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

a{
  color: black;
  text-decoration: none;
}

main{
  margin-top: $header-height + 30px;
}
h1, h2, h3, a, p, li{
  font-family: sans-serif;
}
h1, h2, h3{
  text-transform: uppercase;
}
p, li{
  font-style: $base-font-family;
}

/**************** HEADER ****************/

header {
  background: $base-color;
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  z-index: 1000;
  .head{
    height: $header-height;
    box-sizing: border-box;
    border-bottom: solid black 1px;   
    h1 {
      position: relative;
      float: left;
      top: 30px;
      padding-left: 40px;
      z-index: 1006; 
      a{
        font-size: 20px;
        font-weight: 900;
        font-family: sans-serif;
        text-transform: uppercase;
        display: block;
      }
    }
    .burger{
      position: relative;
      float: right;
      margin-top: 2px;
      right: 40px;
      z-index: 1005;
      cursor: pointer;
      display: block;
      padding: 20px;
      transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1) all;       
      span{
        display: block;
        width: 40px;
        height: 2px;
        margin:  7px 0;
        background: $blackColor;
        transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1) all;        
      }
      &:hover{
        span{
          margin: 10px 0;
        }
        &:not(.open){
          margin-top: -4px !important; 
        }
      }      
    } 
    
    .open{
    margin-top: 18px;
      span{
        &:nth-child(1){
          transform: rotate(45deg);
          margin:  0;
        }
        &:nth-child(2){
          transform: translateX(15px);
          opacity: 0;
        }
        &:nth-child(3){
          transform: rotate(-45deg);
          margin: -18px 0;
        }

      }
      &:hover{
        transform: scale(1);
        span{
          &:nth-child(3){
            margin: -30px 0;
          }
        }
      }      
    }
  }
  nav {
    background: white;
    position: fixed;
    top: $header-height;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1003;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
    visibility: hidden;
    ul {
      width: 100%;
      text-align: center;
      li {
        position: absolute;
        width: 100%;      
        opacity: 0;
        transition: .5s;
        transition-delay: 0s;
        box-sizing: border-box;
        a {
          width: 100%;
          text-transform: uppercase;
          color: $blackColor;
          font-weight: 700;
          font-family: sans-serif;
          display: block;
          line-height: 30vh;  
          font-size: 2em;      
        }
        &:not(:last-child){
          border-bottom: solid black 1px;
        }
        &:nth-child(2){
          top: 30vh; 
        }
        &:nth-child(3){
          top: 60vh; 
        }
      }    
    }
  }
  nav.open-nav { 
    visibility: visible;
    height: 100%;
    transition: .8s cubic-bezier(0.075, 0.82, 0.165, 1) all;
     ul {
       li {
        opacity: 1;
        transition: .8s cubic-bezier(0.8, 0.165, 0.82, 0.075) all;
      }
    }
  } 
}

/**************** MAIN INDEX ****************/

main{
  color: $base-color;
  /* margin-top: 110px; */
  h2{
    text-align: center;
    font-size: 2em;
    margin: 30px 0 80px;
  }
  .game{
    margin: auto;
    width: $game-width;
    height: $game-height;
    border: solid  white 1px;
    margin-bottom: 70px;
  }
  #glauncher{
    .window{
      position: relative;
      overflow: hidden;
      height: $game-height;
      background-color: white;
      .scroller{
        position: absolute;
        width: $game-width;
        .content{
          z-index: 200;
          padding: 50px;
          position: relative;
          text-align: center;
          color: black;
          h3{
            font-size: 1.6em;
            margin: 30px 0 80px;
          }
          p{
            text-align: left;
            text-indent: 30px;
            line-height: 1.5em;
            margin-top: 10px;             
          }
          ul{
            text-align: left;
            margin: 10px 0 50px 50px;
            line-height: 1.5em; 
          }
          a{
            box-sizing: border-box;
            background-color: white;
            color: black;
            margin: 70px 0;
            font-size: 2em;
            line-height: 3em;
            padding: 7px 20px;
            border: 3px solid black;
            border-radius: 10% / 50%;
            transition: .3s ease;
            &:hover{
              background-color: black;
              color: white;
              transition: .3s ease;
            }
          }
        }
      }
    }
  }

  #game_container{
    display: none;
  }
}





/**
* Mediaqueries
*/

//==========================
// LAPTOP SCREENS //1440px
//
@media all and (max-width: $l-screen) {

}


//============================
// TABLETTES SCREENS LANDSCAPE //1024px
//
@media all and (max-width: $m-screen-landscape) {
 
}



//==========================
// TABLETTES SCREENS //853px
//
@media all and (max-width: $m-screen) {
  
}
  





//============================
// SMARTPHONES SCREENS 640 px
//
@media all and (max-width: $s-screen) {
 
}



//============================
// SMARTPHONES SCREENS LANDSCAPE
//
@media all and (orientation: landscape) and (max-device-width: $s-screen) {

}