/**************** MAIN INDEX ****************/
<<<<<<< HEAD

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

=======
body{
  background-color: $blackColor;
}
>>>>>>> c108bff34efd2284b5a4a585e3ecc4d9d38a5104
main{
  color: $base-color;
  /* margin-top: 110px; */
  .game{
    margin: auto;
    width: $game-width;
    height: $game-height;
    border: solid  white 1px;
    margin-bottom: 70px;
  }
  #glauncher{
    .window{
      position: relative;
      overflow: hidden;
      height: $game-height;
        background: repeating-linear-gradient(to bottom, #0f0a1e, #0f0a1e 2px, #140e29 2px, #140e29 4px);
      .scroller{
        position: absolute;
        width: $game-width;
        .content{
          z-index: 200;
          padding: 50px;
          position: relative;
          text-align: center;
          color: #fff;
          h3{
            font-size: 1.6em;
            margin: 30px 0 80px;
          }
          p{
            text-align: left;
            text-indent: 30px;
            line-height: 1.5em;
            margin-top: 10px;             
          }
          ul{
            text-align: left;
            margin: 10px 0 50px 50px;
            line-height: 1.5em; 
          }
          #launch{
            font-family: 'Press Start 2P', cursive;
            height: 90px;
            color: #fff;
            width: 100%;
            text-align: center;
            margin: auto;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 5px;
            text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
            animation: blink 1s  infinite;
          }
        }
      }
    }
  }

  #game_container{
    display: none;
  }
}


@keyframes blink {
  0% {opacity: 0}
  49%{opacity: 0}
  50% {opacity: 1}
}
