/**************** MAIN INDEX ****************/

main{
  color: $base-color;
  /* margin-top: 110px; */
  .game{
    margin: auto;
    width: $game-width;
    height: $game-height;
    border: solid  white 1px;
    margin-bottom: 70px;
  }
  #glauncher{
    .window{
      position: relative;
      overflow: hidden;
      height: $game-height;
      background-color: white;
      .scroller{
        position: absolute;
        width: $game-width;
        .content{
          z-index: 200;
          padding: 50px;
          position: relative;
          text-align: center;
          color: black;
          h3{
            font-size: 1.6em;
            margin: 30px 0 80px;
          }
          p{
            text-align: left;
            text-indent: 30px;
            line-height: 1.5em;
            margin-top: 10px;             
          }
          ul{
            text-align: left;
            margin: 10px 0 50px 50px;
            line-height: 1.5em; 
          }
          a{
            box-sizing: border-box;
            background-color: white;
            color: black;
            margin: 70px 0;
            font-size: 2em;
            line-height: 3em;
            padding: 7px 20px;
            border: 3px solid black;
            border-radius: 10% / 50%;
            transition: .3s ease;
            &:hover{
              background-color: black;
              color: white;
              transition: .3s ease;
            }
          }
        }
      }
    }
  }

  #game_container{
    display: none;
  }
}